#projectContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.project {
    border: solid 1px;
}

.edieContainer, .alitouraContainer, .otherStuffContainer {
    box-sizing: border-box;
    cursor: pointer;
    width: 100px;
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherStuffContainer {
    border: 1px solid black;
}

.alitouraContainer {
    overflow: hidden;
}

.alitouraContainer > img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

.edieContainer {
    background-color: rgb(249, 245, 232);
}

.edieContainer > img {
    padding: 5px;
    height: auto;
    width: 5rem;
}

#edieLogo {
    pointer-events: none;
}

.edieVideo {
    display: flex;
}

.expandEdie {
    width: 500px;
    height: 281px;
    transition: width 700ms;
}

.collapseProject {
    width: 100px;
    transition: width 700ms;
}
