#projectContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectWrapper {
    display: grid;
    height: 50vh;
    width: fit-content;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;
}

.project {
    border: solid 1px;
}

.edieContainer, .alitouraContainer, .otherStuffContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    place-self: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 100px;
    height: 100%;
    margin: 20px;
}

.otherStuffContainer {
    border: 1px solid black;
}

.alitouraContainer {
    overflow: hidden;
}

.alitouraContainer > img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

.edieContainer {
    background-color: rgb(249, 245, 232);
}

.edieContainer > img {
    padding: 5px;
    height: auto;
    width: 5rem;
}

#edieLogo {
    pointer-events: none;
}

.edieVideo {
    display: none;
}

.expandProject {
    animation: expandAnim 700ms ease-in forwards;
}

@keyframes expandAnim {
    100%{
        width: 500px;
        height: 281px;
    }
}

.collapseProject {
    animation: collapseAnim 700ms ease-in forwards;
}

@keyframes collapseAnim {
    100%{
        width: 100px;
        height: 100%;
    }
}
