body {
    margin: 0;
    padding: 0;
}

.c-scrollbar_thumb{
    background: none;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header, footer {
    background: #1abc9c; 
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 50px;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
}
